[global]
git_repo: jobrunner/jobrunner
git_repo_user: mwdeploy
ssh_user: mwdeploy
server_groups: canary, default
canary_dsh_targets: jobrunner-canaries
dsh_targets: jobrunner
git_submodules: False
service_name: jobrunner
service_port: 9005

# Divide servers into groups of 5
group_size: 5

[deployment-prep.eqiad.wmflabs]
server_groups: default
dsh_targets: betacluster
